body{
    font-family: League Spartan;
    color: #1D3557;
    background-image: url(images/background.jpg);
    background-size: contain;
    text-align: center;
}
#face{
    width: 100%;
    border: 3px solid #1D3557;
    border-radius: 8px;
}

h1{
    color: #E63946;
    text-shadow: 2px 2px 0 #1D3557;
}

.gif-section{
    margin: 80px 50px;
}
.gif{
    width: 510px;
    border: 6px solid #277da1;
    border-radius: 15px;
}

#footer{
    padding: 40px;
}